@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}
/* this is top header */
.btn_col a {
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 18px;
    text-decoration: none;
    background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    color: white;
}

.btn_col a:first-child {
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 18px;
    border: 1px solid #27AE60;
    margin-right: 10px;
    background: #FFFFFF;
    color: #27AE60;
}
.btn_col a i:first-child{
    margin-right: 10px;
}

/* top header complete */
/* banner section start */
/* this is left side  */
.banner{
    padding-bottom: 90px;
    padding-top: 35px;
}
.banner .container h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
    margin-bottom: -46px;
    position: relative;
}

.banner .container h1::after{
    content: url(images/Vector\ 63.png);
    position: relative;
    top: -38px;
    left: 73px;
    border-width: 5px;
}

.banner .container .left-side p,
.banner .container .left-side ul li {
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
}

.banner .container .left-side ul{
    padding-left: 0;
}

.banner .container .left-side ul li{
    list-style-type: none;
    line-height: 40px;
}

.banner .container .left-side ul li i{
    color: #2699FB;
    margin-right: 15px;
}

a{
    text-decoration: none;
}

.button-group a {
    border-radius: 8px;
    border-width: 1px;
    background: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    border: 1px solid;
    border-image-source: linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    color: #FFFFFF;
    line-height: 28px;
}

.banner .container .left-side .button-group {
    margin-top: 60px;
}

.banner .container .left-side .button-group a {
    font-weight: 700;
    font-size: 20px;
    padding: 16px 48px;
}

.banner .container .left-side .button-group .normal_button {
    border: 1px solid #D0D5DD;
    font-weight: 500;
    font-size: 18px;
    width: 276;
    padding: 18px 28px;
    background: #FFFFFF;
    color: #0A2134;
    margin-left: 15px;
}

.banner .container .left-side .button-group a i {
    margin-right: 15px;
}

/* left side complete */
/* form side start */
.banner .container{
    position: relative;
}
.banner .container .right-side {

    width: 410px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 1px 2px 0px #1018280F;
    box-shadow: 0px 1px 3px 0px #1018281A;
}

.banner .container .right-side h5{
    font-weight: 700;
    font-size: 18px;
}

.banner .container .right-side h6{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.banner .container .right-side p{
    font-weight: 400;
    font-size: 12px;
}

.banner .container .right-side input{
    width: 100%;
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 14px;
    border: 1px solid #D0D5DD;
    margin-bottom: 15px;
}

.banner .container .right-side .button-group{
    margin-top: 15px;
}

.banner .container .right-side .button-group button{
    background:linear-gradient(93.77deg, #0ACEFE -6.36%, #2699FB 50.16%);
    color: #FFFFFF;
    border: none;
    padding: 16px 48px;
    width: 100%;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
}


/* banner complete */
/* course overview section start */

.container .course_overview {
    margin-top: 80px;
    margin-bottom: 70px;
    border-radius: 8px;
    box-shadow: 0px 4px 80px -2px #002F5814;
    height: 146px;
    align-content: center;
    text-align: center;
}

.container .course_overview h5 {
    font-weight: 700;
    font-size: 30px;
    color: #2699FB;

}

.container .course_overview p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* course overview section end */
/* course highlight section start */
.course_highlight {
    background: #F7FAFF;
    padding-top: 70px;
    padding-bottom: 70px;
}

.container .heading-four h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
}
.course_highlight .container .heading-para p {
    margin-top: 25px;
}
.heading-para p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.course_highlight .container .all_boxes {
    gap: 25px;
    margin-bottom: 80px;
    padding-top: 20px;
}

.course_highlight .container .all_boxes div {
    width: 370px;
    height: 118px;
    background: #FFFFFF;
    align-content: center;
    text-align: left;

}

.course_highlight .container .all_boxes .mini_divs img {
    width: 86px;
    height: 86px;
    margin-right: 16px;
}

.course_highlight .container .all_boxes .mini_divs {
    padding: 16px;
    background-color: #FFFFFF;

}

.course_highlight .container .button-group {
    align-content: center;
    text-align: center;
}

.course_highlight .container .all_boxes .mini_divs .txt h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-top: -15px;
}

.course_highlight .container .all_boxes .mini_divs .txt p {
    color: #43505B;
    font-weight: 400;
    font-size: 15px;
}

.container .calss_btn .button-group a {
    padding: 16px 48px;
    font-weight: 700;
    font-size: 20px;
}


/* career section start */
.career {
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
}

.heading-three h3 {
    font-weight: 700;
    font-size: 44px;

}

.career .container .career_contents {
    column-gap: 30px;
    padding-top: 20px;
}

.career .container .career_contents .four_boxes {
    width: 270px;
    height: 278px;
    border: Mixed solid #F2F4F7;
    box-shadow: 0px 4px 20px -2px #002F5814;
    text-align: left;
    border-width: 1px;
    border-radius: 8px;

}

.heading_five h5 {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2%;
    margin-top: 26px;
    margin-bottom: 21px;
}

.career .container .career_contents p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
}

/* career section complete */

/* certificate section start */
.certificate {
    background: #F7FAFF;
    padding-top: 100px;
    padding-bottom: 80px;
}

.certificate .container .left_side_content .three_boxes {
    align-content: center;
}

.certificate .container .left_side_content .heading-four h4 {
    margin-bottom: 15px;
}

.certificate .container .left_side_content .three_boxes {
    padding-top: 45px;
    row-gap: 25px;
    padding-bottom: 60px;
}

.certificate .container .left_side_content .three_boxes .content_div {
    display: flex;
    flex: wrap;
    width: 570px;
    height: 128px;
    border-radius: 8px;
    border-width: 1px;
    border: 1px solid #F2F4F7;
    box-shadow: 0px 4px 20px -2px #002F5814;
    text-align: left;
    padding: 40px 30px;

}

.certificate .container .left_side_content .three_boxes .content_div img {
    width: 48px;
    height: 48px;
    margin-right: 30px;
}

.certificate .container .left_side_content .three_boxes .content_div h5 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    margin-top: -15px;
}

.certificate .container .left_side_content .three_boxes .content_div p {
    font-weight: 400;
    font-size: 16px;
}

.certificate .container .right_side_certificate {
    border: 1px solid #F2F4F7;
    width: 468px;
    height: 639px;
    border-radius: 8px;
    align-content: center;
    text-align: center;
    z-index: 1;
    position: relative;
}

.certificate .container .right_side_certificate .certificate_img { 
    position: absolute;
    top: 25px;
    left: 38px;
}

.certificate .container .right_side_certificate::before{
    content: url(images/image\ 136.png);
    position: absolute;
    top: -19px;
    left: -20px;
    z-index: -1;
}
.certificate .container .right_side_certificate::after{
    content: url(images/Ellipse\ 94.png);
    position: absolute;
    bottom: -85px;
    right: -85px;
    z-index: -1;
}
/* certificate section complete */
/* curriculum section start */
.Curriculum {
    padding-top: 70px;
    text-align: center;
    padding-bottom: 80px;
}
.Curriculum .container .nav.nav-tabs {
    --bs-nav-tabs-border-width: none;
    margin-top: 25px;
}
.Curriculum .container .nav.nav-tabs .nav-item .nav-link.active{
    position: relative;
}
.Curriculum .container .nav.nav-tabs .nav-item .nav-link.active::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #2699FB;
    transition: .4s;
    bottom: 0;
    left: 0;
}
.Curriculum .container .nav.nav-tabs .nav-item .nav-link.active{
    font-weight: 600;
    font-size: 18px;
    background-color: #F2F4F7;
    color: #0A2134;


}
.Curriculum .container .nav.nav-tabs .nav-item .nav-link{
    font-weight: 600;
    font-size: 18px;
    color:  #43505B;
    padding: 14px 25px;

}
.Curriculum .container .tab-content{
    margin-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px -2px #002F5814;
    border-radius: 8px;
    text-align: left;
    padding: 30px 0;
    margin-bottom: 70px;
    
}
.Curriculum .container .tab-content .curriculum_contents ul li{
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    list-style: none;
    margin-bottom: 30px;
    line-height: 25px;

}
.Curriculum .container .tab-content .curriculum_contents ul li i{
    color: #2699FB;
    margin-right: 15px;
    height: 28px;
    width: 28px;
}
/* Curriculum section complete */

/* marketing section start */
.marketing_section {
    background-color: #F7FAFF;
    padding: 70px 0;

}

.marketing_section .container .heading-para p {
    line-height: 45px !important;
}

.marketing_section .container .marketing_divs {
    gap: 30px;
    padding-bottom: 55px !important;
    padding: 0 63px;
    
}

.marketing_section .container .marketing_divs .marketing_div_mini {
    width: 370px;
    height: 284px;
    border-radius: 8px;
    border: 1px solid #F2F4F7;
    box-shadow: 0px 1px 2px 0px #1018280D;
    padding: 40px 30px;
    background-color: #FFFFFF;
}

.marketing_section .container .marketing_divs .marketing_div_mini p {
    font-weight: 400;
    font-size: 16px;
}

.marketing_section .container .marketing_divs .marketing_div_mini h5 {
    margin-bottom: 10px;
}

/* marketing section complete */
/* students section start */
.students {
    padding: 70px;
}

.students .container .students_review {
    column-gap: 35px;
}

.students .container .students_review .review {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px -2px #002F5814;
    width: 570px;
    height: 285px;
    border-radius: 8px;
    padding: 35px;

}

.students .container .students_review .review .pic-text img {
    margin-right: 20px;
    margin-bottom: 12px;
}

.students .container .students_review .review .pic-text .heading-five h5 {
    margin-top: 14px;
}

.students .container .students_review .review .pic-text .date {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

}

.students .container .students_review .review .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
}

.students .container .course_start {
    margin-top: 120px;
}

.students .container .course_start {
    background-image: url(images/Rectangle\ 577.jpg);
    width: 100%;
    height: 384px;
    background-repeat: no-repeat;
    z-index: 1;

}

.students .container .course_start .left_side_design {
    width: 266px;
    height: 375px;
    opacity: 0.8;

}

.students .container .course_start {
    position: relative;
}

.students .container .course_start .left_side_design {
    position: absolute;
    left: -15px;
}

.students .container .course_start .right_side_design {
    position: absolute;
    right: 125px;
    top: 50px;

}

.students .container .course_start .right_side_design {
    width: 249px;
    height: 351px;
    opacity: 0.8;

}

.students .container .course_start {
    align-items: center;
}

.students .container .course_start .button a {
    color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    background-color: #FFFFFF;
    padding: 16px 48px;
    border-radius: 8px;

}

/* students section complete */

/* course faq section start */
.course_faq {
    padding-top: 80px;
    align-content: center;
    padding-bottom: 90px;
}

.course_faq .container .all_faq_divs {
    padding-top: 30px;
    align-content: center;
    text-align: center;
    row-gap: 20px;
    width: 770px;
    padding-bottom: 60px;
}

.course_faq .container .all_faq_divs {
    margin: 0 auto;
}

.course_faq .container .all_faq_divs .faq_div_mini {
    width: 770px;
    height: 62px;
    border-radius: 8px;
    border: 1px solid #F2F4F7;
    box-shadow: 0px 1px 2px 0px #1018280D;
    background-color: #FFFFFF;
    align-content: center;
    text-align: left;
    padding: 0 40px;
}

.course_faq .container .all_faq_divs .faq_div_mini .heading_five h5 {
    margin: 0;
}

.course_faq .container .all_faq_divs .faq_div_mini i {
    text-align: right;
    font-size: 25px;
    color: #43505B;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button::after {
	display: none;
}
.accordion-button:not(.collapsed){
    background-color: #FFFFFF;
}
.accordion-collapse.collapse{
    text-align: left;
}
.accordion-body{
    padding: 0 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}
.accordion{
    --bs-accordion-border-color: none;
}
.accordion-button{
    padding: 20px 26px;
}
.accordion-item{
    text-align: start;
    margin: 20px 0;
}
.accordion-button.collapsed::before{
    content: '+';
    color:#43505B;
    text-align: center;
    align-content: center;
    position: absolute;
    right: 25px;
    font-size: 29px;
    top: 9px;
}
.accordion-button::before{
    content: '-';
    color:#2699FB;
    text-align: center;
    align-content: center;
    position: absolute;
    right: 25px;
    font-size: 29px;
    top: 5px;

}
.accordion-button.collapsed ,.accordion-button:not(.collapsed){
    font-weight: 600;
    font-size: 18px;
    
}
.accordion-button:not(.collapsed) {
    color: #2699FB;

}
.accordion-item .accordion-header{
    text-align: start;
}
/* course faq section complete */
/* companies section start */
.companies {
    padding-top: 70px;
    padding-bottom: 80px;
}

.companies .container img {
    margin-top: 50px;
}

/* companies section complete */
/* footer section start */
footer {
    background-color: #0A2540;
    padding-top: 50px;
}

footer .container P {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.border {
    height: 1px;
    color: #FFFFFF;
    opacity: 0.3;
    margin-top: 40px;
}

footer .container .socket {
    padding-top: 30px;

}

.socket {
    background-color: #0A2540;
    padding: 30px 0;
}

.socket .container p {
    margin-bottom: 0;
}